body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App{
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.App-logo{
	width: 10rem;
}

.flyout {
	display:flex;
	flex-direction: column;
	min-height:100vh;
	justify-content: space-between;
}

.home-feature-box .fa {
	font-size:6rem;
}

.home-feature-box span {
	display: block;
	color:#111;
	font-weight:bold;
	margin-top:1.5rem;
}

.example-components-list li > a {
  color: #495057;
}

.example-components-list li:last-child > a {
	border-bottom:0;
}

.example-components-list li > a .fa {
	color:rgba(0,0,0,.35);
	float:right;
}

.nav-signin {
  padding: 10px 20px 10px 20px;
  font-size: 15px;
  border-radius: 100px;
  text-align: center;
  text-decoration: none;
  border:2px solid white;
  color: white;
  transition: opacity 0.5s;
  display: inline;
  vertical-align: middle;
}

.nav-signin:hover {
  color: white;
  background-color: #dc453a;
}

.nav-signin-container {
  display: table-cell;
  vertical-align: middle;
  padding-top: 10%;
}

/* label color */
.input-field label {
  color: indigo;
}

/* label color */
.input-field input[type=text] {
  color: indigo !important;
}

/* label focus color */
.input-field input[type=text]:focus + label {
  color: #cc7f1a !important;
}
/* label underline focus color */
.input-field input[type=text]:focus {
  border-bottom: 1px solid #cc7f1a !important;
  box-shadow: 0 1px 0 0 #cc7f1a !important;
}
/* icon prefix focus color */
.input-field .prefix {
  color: #cc7f1a !important;
}
/* icon prefix focus color */
.input-field .prefix.active {
  color: #cc7f1a !important;
}